<% if (locals.messages.info) { %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%= locals.messages.info %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>