<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/bootstrap-5.2.3.min.css">
  <link rel="stylesheet" href="/main.css">

  <script src="/bootstrap-5.2.3.bundle.min.js"></script>
  <script src="/jquery-3.6.4.slim.min.js"></script>
</head>
<body>
  <%- include("nav") %>
