<nav class="d-flex flex-fill border-bottom">
  <div class="d-flex flex-fill justify-content-start">
    <a href="/" class="p-4">Lake</a>
  </div>
  <div class="d-flex flex-fill justify-content-end">
    <a href="/" class="p-4">Something</a>
  </div>
</nav>