body {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 30px;
}
h1 {
  font-weight: 700;
  font-size: 48px;
}
a,
.btn-link {
  color: darkred;
  font-size: 20px;
  padding: 0;
  text-decoration: none;
}
a:hover(:not(.btn-primary)),
.btn-link:hover {
  color: darkred;
  text-decoration: underline;
}
.btn,
.form-control {
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
}
