@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "PT Serif", Georgia, serif;
  font-size: 20px;
  line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 48px;
}
a,
.btn-link,
.form-select,
.form-control {
  font-size: 20px;
}
a,
.btn-link {
  color: darkred;

  padding: 0;
  text-decoration: none;
}
a:hover(:not(.btn-primary)),
.btn-link:hover {
  color: darkred;
  text-decoration: underline;
}
.btn,
.form-select,
.form-control {
  border-radius: 0;
}
.active {
  text-decoration: underline;
}

.dropdown-toggle::after {
  display: none;
}
